head,
body {
  // min-height: 100vh;
  
 background: #E5E5E5;
 background: linear-gradient(180deg, #E5E5E5 0%, #E5E5E5 100%);

}


a {
  text-decoration: none;
  margin: 0 20px 0 20px;
  color: rgb(74, 1, 1);
}



