.favoritesBlock {

    grid-area: f;
    // overflow: auto;
    height: 466px;
    width: 360px;

    margin: 24px 24px 0 0;
    background-color: #fff;
    box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
    border-radius: 16px;

    padding: 32px;
    h1 {
        // padding: -10px;
    }
    .sorting {
        padding: 6px 0 18px 0;

        button {
            cursor: pointer;
            outline: none;
            // pointer
            border: none;
            // border: 1px solid #41522E;
            align-items: center;
            border-radius: 4px;
            
            padding: 4px 18px 4px 8px;
            margin-right: 10px;
            .angle {
                // display: inline-block;
                position: absolute;
                i {
                    position: absolute;
                    top: 1px;
                    left: 3px;
                    display: flex;
                } :nth-child(2) {
                    position: absolute;
                    top: 9px;

                }
            }
        }
    }

    .hotelItem {
        overflow: auto;
        height: 300px;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .arrow {
        position: relative;
        display: flex;
        justify-content: center;
        top: -70px;
        font-size: 50px;
        color: #d2b40ab4;
        opacity: 0.7;
    }
}